In [8]:
def librerias():
    '''Importación de librerias necesarias para regreseín lineal'''
    
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import export_graphviz
from six import StringIO 
from IPython.display import Image  
import pydotplus
from sklearn.metrics import confusion_matrix
import seaborn as sn
import matplotlib.pyplot as plt


print(librerias.__doc__)

Importación de librerias necesarias para regreseín lineal

In [9]:
def lecturadb():
    '''Lectura de la base de datos diabetes'''
pima = pd.read_csv("DatasetDiabetes.csv")
print(lecturadb.__doc__)
pima.head()

Lectura de la base de datos diabetes

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [10]:
def limpiezadb():
    '''
        Limpieza de la base de datos
        
        Gender:
            F = 1
            M = 0
        CLASS:
            N = 0
            Y = 1
            P = 2
    '''
pima = pima.fillna(0)
pima['Gender'] = pima['Gender'].map({'F': 1, 'M': 0})
pima['CLASS'] = pima['CLASS'].map({'N': 0, 'P': 2,'Y':1})
print(limpiezadb.__doc__)
pima.head()

        Limpieza de la base de datos

        Gender:
            F = 1
            M = 0
        CLASS:
            N = 0
            Y = 1
            P = 2

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
1,735,34221,0.0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0
2,420,47975,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
3,680,87656,1.0,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0.0
4,504,34223,0.0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0

In [12]:
def defCaracteristicasXyY():
    '''Definir las caracteristicas en "X" y "y" '''

feature_cols = ['No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']
X = pima[feature_cols] 
y = pima.CLASS 

print(defCaracteristicasXyY.__doc__)

Definir las caracteristicas en "X" y "y"